/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
}

.moveable-area {
  @apply cursor-move;
}

.moveable-control-box {
  @apply !z-[1000000];
}

@layer utilities {
  .no-spinner {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      @apply appearance-none m-0;
      -webkit-appearance: none;
    }
  }
}