/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
}

.moveable-area {
  @apply cursor-move;
}

.moveable-control-box {
  @apply !z-[1000000];
}