/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
}

.picker_wrapper {
  @apply !bg-transparent !shadow-none;
}
.picker_editor {
  @apply w-[calc(100%-5rem)] flex-auto;
}
.picker_editor input {
  @apply input !font-[inherit] !px-3 !py-1;
}
.picker_done {
  @apply hidden;
}

.moveable-area {
  @apply cursor-move;
}

.moveable-control-box {
  @apply !z-[1000000];
}