/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/inter';
@import 'lib/css/utility-patterns.css';
@import 'lib/css/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
