# API key for Flickr.com
PUBLIC_FLICKR_API_KEY=

# URI for CORS bypassing. Provided service should accept given URL, make a request and return a results without CORS headers. use {origin} as a placeholder for the URI
PUBLIC_CORS_BYPASS=

# URL for the service which accepts {city}, {country}, {lat}, {lon} and redirects the request to appropriate OpenWeatherMap page for the given city
PUBLIC_OWM_REDIRECT=

# URL where external assets are hosted
PUBLIC_EXTERNAL_ASSETS_URI=

# API key for https://thequoteapi.com/ service
PUBLIC_THEQUOTEAPI_KEY=