{
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "svelteSortOrder": "scripts-markup-styles-options",
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "all",
  "requirePragma": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
