/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
}

.color-picker .wrapper {
  @apply m-0 border-none bg-surface-100 dark:bg-surface-800;
}

.color-picker .wrapper .text-input input {
  @apply input !w-1 !outline-none;
}

.color-picker .wrapper .text-input input[type='number'] {
  @apply hidden;
}

.color-picker .wrapper .text-input button {
  @apply hidden;
}
